@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

// OVERWRITE BOOTSTRAP STUFF IN HERE

$content-bg: white;

.logo-text {
  //font-size: 40;
  @extend .lead;
}

@import "../node_modules/bootstrap/scss/bootstrap";
html,
body {
  background-color: #eaeaea;
  color: black;
}

// General containers ala javafx
.hbox {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.vbox {
  //height: 100%;
  display: flex;
  flex-direction: column;
}

.page-container {
  @extend .hbox;
  background-color: white;
}

.page {
  max-width: 100%;
  width: 1000px;
  background-color: white;
  border: 1px solid red;
  padding: 30px;
}

.logo {
  line-height: 0.4;
  //border: 1px solid red;
}

// Navigation bar
.nav {
  background-color: $content-bg;
  display: flex;
  justify-content: space-between;
  ///border: 1px solid red;
}

.nav-collection {
  display: flex;
  margin: 5px;
}

.nav-item {
  margin: 5px;
}

// Homescreen search bar
.search-container {
  width: 100%;
  //border: 1px solid green;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.search {
  //width: 500px;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  background-color: $content-bg;
  padding: 50px;
}

.suggestions-box {
  z-index: 100;
  cursor: pointer;
  position: absolute;
  width: 100%;
  top: 36px;
  left: 1px;
  //border: 1px solid green;
  background-color: white;
}

.suggestion {
  padding: 8px;
  border: 1px solid #eaeaea;
  border-bottom: 0;
}

.section-container {
  background-color: white;
  //padding: 20px;
}

// sldkj
.questions-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.question {
  width: 400px;
  padding: 10px;
}
